python-telegram-bot[job-queue]~=20.8
SQLAlchemy
jdatetime
google-cloud-speech~=2.23.0
google-cloud-aiplatform~=1.47.0
python-dotenv
pydub==0.25.1
requests
apscheduler
pytz
google-generativeai~=0.5.2
google-cloud-vertexai~=1.47.0
# python-dateutil # Not used in this version, but needed for full recurrence
psutil==5.9.5