python-telegram-bot[job-queue]~=20.8
SQLAlchemy
jdatetime
google-cloud-speech
google-cloud-aiplatform
python-dotenv
pydub==0.25.1
requests
apscheduler
pytz
google-generativeai
vertexai
# python-dateutil # Not used in this version, but needed for full recurrence
psutil==5.9.5