python-telegram-bot
langgraph
aiosqlite
langgraph-checkpoint-sqlite
google-cloud-speech
google-generativeai
sqlalchemy
alembic
jdatetime
pytest
python-dotenv
psutil
pydantic
pydantic-settings
pytz
langchain-google-genai